.temp

# Temp file for .run/src/bin/windows-folder-hide.ps1
.run/src/bin/last_check

# Temp file for .run/src/bin/deploy-api-docs.rs
docs/api-docs/

# Drafts
__*.md
__*/

# Fuck
nul

# Release script
Cargo.toml.bkup
