.temp

# Temp file for .run/src/bin/windows-folder-hide.ps1
.run/src/bin/last_check

# Temp file for .run/src/bin/deploy-api-docs.rs
docs/api-docs/

# Temp file for .run/src/bin/cov-test.rs
docs/cov-test/

# Mling Template Exports
/templates/

# Drafts
__*.md
__*/
__*.py
__*.rs

# Fuck
nul
